// Custom.scss
// Option A: Include all of Bootstrap

@import "bootstrap/css/bootstrap";
$theme-colors: (
  "manny": #4d0026
);

/*HEADER*/

body{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}
/* header carousel starts*/
.one{
    height:670px;
    width: 100%;
    background:
    linear-gradient(to bottom right,rgba(0,0,0,0.9) 50%,transparent 50%) 58% 0/40% 100% no-repeat,
    linear-gradient(to right,rgba(0,0,0,0.8),rgba(0,0,0,0.9)) 0 0/35% 100% no-repeat,
    url(../images/achievement-agreement-arms-1068523.jpg) center/cover no-repeat;
    color:#ffffff;
    
    }
   

.two{
    height:670px;
    width: 100%;
    background:
    linear-gradient(to bottom right,rgba(0,0,0,0.9) 50%,transparent 50%) 58% 0/40% 100% no-repeat,
    linear-gradient(to right,rgba(0,0,0,0.8),rgba(0,0,0,0.9)) 0 0/35% 100% no-repeat,
    url(../images/alarm-clock-calendar-close-up-908298.jpg) center/cover no-repeat;
    color:#ffffff;
}

.three{
    height:670px;
    width: 100%;
    background:
    linear-gradient(to bottom right,rgba(0,0,0,0.9) 50%,transparent 50%) 58% 0/40% 100% no-repeat,
    linear-gradient(to right,rgba(0,0,0,0.8),rgba(0,0,0,0.9)) 0 0/35% 100% no-repeat,
    url(../images/bg-01.jpg) center/cover no-repeat;
    color:#ffffff;
    }

.red{
    color:#4d0026;
}
#us{
    padding-top: 100px;
    padding-bottom: 30px;
    
}
.welcome{
    color: #5C5A5D;
}
p.ben{
    font-size: 1.5em;
}
h2.ben2{
    font-size: 2.5em;
}
h1.man{
    padding-top: 150px;
    font-family: roboto;
}
.navbar-brand{
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    padding-left: 100px;
}
#services{position: relative;
    padding-bottom: 70px;
    padding-top: 70px;
background-color:#f7f7f7;}

#codelabs{position: relative;
padding-bottom: 70px;
padding-top:15px;
background-color: #f9f9f9;}

#gallery{background-image: linear-gradient(to bottom right,
    rgba(148, 13, 130, 0.551),rgba(0, 0, 0, 0.933) ),
    url(..images/web-developer.jpg);
background-size: cover;
position:relative;
padding-bottom: 70px;}
.fine{
    object-fit: cover;
    
}
/* BLOG CSS Starts here*/
#blog{
    color:#717171;
    padding-top: 30px;
    padding-bottom: 30px;
}
.date{
    font-size: 10pt;
    font-family: 'Open sans';
    margin: 5px 0 0 0;
    text-align: left;
}
h4.blog{text-align: left;
    color:#717171;  
}
h4.blog:hover{text-align: left;
    color:#4d0026;
    cursor: pointer;  
}
.line{ height: 4px;
    width: 25%;
    background-color:#4d0026;

}
.blog-text{
    font-size: 16px;
    font-family: lato;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
/* Blog Css ends here */
.blue{color: #ffffff;
padding-bottom: 30px;}

footer{background-color: #4d4d4d;
    color: #ffffff;
position: relative;
padding-bottom: 50px;
padding-top: 50px;}

li{display: inline-block;}
 

/* h1{
    display: inline-block;
font-size: 330%;} */
h2{padding-bottom: 40px;
padding-top: 40px;
font-weight: bold;
color: #333;}
div.desc{font-size: 20px;
    Font-weight: 700;
}
h1.logo{padding-top:50px;
padding-left: 0px;
color: #ffffff;}

.btn-danger{margin-bottom: 30px;}

/* top links */
ul.links .btn{padding-top: 50px;
    color:white;
padding-right: 0px;
position: relative;;
}
ul.links .btn:hover{color: aqua;
font-size: 150%;}

.padding-0{
    padding-right:0;
    padding-left:0;
}


/* About Us Styling Starts */

#about-hero{background-image: linear-gradient(
    rgba(34, 13, 148, 0.507),rgba(0, 0, 0, 0.9) ),
    url(../images/about-hero.JPG);
background-size: cover;
position:relative;
padding-bottom: 70px;
display:flex;
height: 600px;}
h1.about, .top{color:white;
    z-index: 1;
}
#intro{padding-bottom: 50px;
padding-top: 50px;}
#counter{background-color: #f0f0f0;
padding-bottom: 30px;
padding-top: 30px;
}
h3{
    color: #333;
}
h3.count{color: #4d0026;
font-size: 400%}
#about-gallery{padding-bottom: 50px;
padding-top: 20px;}
h1.our{padding-bottom: 50px;
padding-top: 50px;}
h1.middle{position: relative;
top:200px;
color: #ffffff;}

/* About Us styling ends */

/* Contact Us Styling Starts */

#contact-hero{background-image: linear-gradient(
    rgba(34, 13, 148, 0.507),rgba(0, 0, 0, 0.9) ),
    url(../images/about-hero.JPG);
background-size: cover;
position:relative;
padding-bottom: 70px;
display:flex;
height: 600px;}

#mail{background-color: #f0f0f0;
padding-top: 70px;
padding-bottom: 70px;}

h2.message{color:#1100aa}
ul#footer-social .fa{color: #ffffff;
position: relative;}

.btn-danger:hover {
    color: #dc3545;
    background-color: #fff;
    border-color: #dc3545;
}

.btn-primary:hover {
    color:#007bff ;
    background-color: #fff;
    border-color: #007bff;
}
.footer-social i.fa {
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    color:#fff
  
  }
/* Footer starts here */
  .footer-social i.fa:hover{color:grey;}

  .fa-facebook{background-color:#3B5998 }
  .fa-twitter{background-color:#1DA1F2 }
  .fa-linkedin{background-color:#0077B5 }
  .fa-github{background-color:#bd2c00 }
 

div.icons{
            background-color:#001f4d; 
            color:white;}
.btn-info {
    background-color:#4d0026;
        color: #fff;
        border-color: #4d0026;
        border-radius: 15px;
        margin-bottom: 15px;
    }
    .btn-info:hover {
        color: #4d0026;
        background-color:#fff;
            border-color: #4d0026;
        }
        img.logo2{padding-top: 50px;}
        p.footer{color:rgb(148, 147, 147)}

        #footer-social a:nth-child(1) i:hover {
            color: #d34836;
        }
        
        #footer-social a:nth-child(2) i:hover {
            color: #4099FF;
        }
        
        #footer-social a:nth-child(3) i:hover {
            color: #b31217;
        }
        
        #footer-social a:nth-child(4) i:hover {
            color: #FF6600;
        }
        #footer-social a:nth-child(4) i:hover {
            color: #FF6600;
        }
    

        .slideanim {visibility:hidden;}
        .slide {
            /* The name of the animation */
            animation-name: slide;
            -webkit-animation-name: slide; 
            /* The duration of the animation */
            animation-duration: 1s; 
            -webkit-animation-duration: 1s;
            /* Make the element visible */
            visibility: visible; 
        }
        
        /* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
        @keyframes slide {
            0% {
                opacity: 0;
                transform: translateY(70%);
            } 
            100% {
                opacity: 1;
                transform: translateY(0%);
            } 
        }
        @-webkit-keyframes slide {
            0% {
                opacity: 0;
                -webkit-transform: translateY(70%);
            } 
            100% {
                opacity: 1;
                -webkit-transform: translateY(0%);
            }
        }

        /*Image overlay setting*/
        .ara {
            position: relative;
            width: 100%;
          }
          
          .image {
            display: block;
            width: 100%;
            height: auto;
          }
          
          .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgb(143, 91, 130);
            overflow: hidden;
            width: 100%;
            height: 100%;
            -webkit-transform:scale(0);
            transition: .3s ease;
          }
          
          .ara:hover .overlay {
            transform: scale(1)
          }
          
          .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: justify;
          }
           h3.white{
              color: #fff;
          }
/* Footer starts here */
  .footer-social i.fa:hover{color:grey;}

  .fa-facebook{background-color:#3B5998; }
  .fa-twitter{background-color:#1DA1F2; }
  .fa-linkedin{background-color:#0077B5;
margin-left: 3px; }
  .fa-github{background-color:#bd2c00; }

  /*start codelab rollers*/
  .mySlides {
    display: none;
}
.heroSlide{
    display: none;
}
.next {
    cursor: pointer;
    transition: 0.6s ease;
    color:#ffffff; 
    background-color:#4d0026; 
    position:absolute; 
    right:12px; 
    bottom:-1px; 
    border-radius:50%; 
    border:#ffffff 1px shadow
   
  }
/* On hover, add a black background color with a little bit see-through */
  .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    0% {transform: scale(1)} 
    100% {transform: scale (1.4)}
  }
  
  @keyframes fade {
    0% {transform: scale(1)} 
    100% {transform: scale (1.4) }
  }

  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  .align{
      text-align: justify
  }

  .square {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 20%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    top: -30px;
  }
  /* Fading animation */
  @keyframes fade {
    from {
      opacity: 0.0;
    }
    to {
      opacity: 1.0;
    }
}
@keyframes zoom {
    from {
      transform: scale(1.0);
    }
    to {
      transform: scale(1.16);
    }
}